@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .top {
    justify-content: space-between;
  }

  .logo {
    margin-right: 30px;
    margin-left: 20px;
  }

  .name {
    font-size: 42px;
    margin-right: 400px;
  }

  .speech {
    font-size: 24px;
  }

  .contacts {
    gap: 20px;
  }

  .link {
    font-size: 20px;
  }

  .list_need {
    font-size: 24px;
    line-height: 3;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .adv_item {
    width: calc((100% - 400px) / 4);
  }

  .btn-register,
  .btn-willing {
    font-size: 24px;
    margin-left: 700px;
    margin-top: 30px;
    padding: 20px;
    width: 350px;
    height: 70px;
  }

  /* ! Second section */

  .second_text {
    font-size: 24px;
    padding: 0 70px 0 70px;
  }

  .gap {
    margin-bottom: 30px;
  }

  .gap:before {
    margin-right: 5px;
    width: 20px;
    font-size: 30px;
  }

  /*! Third section */

  .third2 {
    width: 600px;
    margin-left: 500px;
  }

  /* ! Footer */

  .logo_footer {
    width: 150px;
  }

  .name-footer {
    margin-top: 50px;
  }

  .second-footer-box {
    margin-left: 450px;
  }

  .third_text {
    font-size: 20px;
    color: rgb(49, 45, 45);
  }
}
