:root {
  --white: aliceblue;
  --violet: #500c7d;
  --grey_text: rgb(72, 69, 69);
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Raleway', sans-serif;
}

ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  height: auto;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  margin: 0;
  padding: 0;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

p {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
